@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: local("Pretendard"),
    url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff)
      format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: local("Pretendard"),
    url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff)
      format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: local("Pretendard"),
    url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff)
      format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: local("Pretendard"),
    url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff)
      format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: local("Pretendard"),
    url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff)
      format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: local("Pretendard"),
    url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff)
      format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: local("Pretendard"),
    url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff)
      format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: local("Pretendard"),
    url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff)
      format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  src: local("Pretendard"),
    url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff)
      format("woff2");
}
:root {
  --color-dark-1: #222222;
  --color-primary: #384981;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-family: "Pretendard";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: hidden;
}
body {
  margin: 0;
  cursor: default;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--color-dark-1);
}
p {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
